.form{
background-color:#888686;    
box-shadow: black;
padding-bottom: 100px;;

}
/* Style inputs with type="text", select elements and textareas */
.input{
    width: 80%; /* Full width */
    padding: 20px; /* Some padding */ 
   border:1px solid gray; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally) */
    background:#555;
    
    
  }
  .addcontainer1 {
    background-color: black;
    opacity: 0.9;
    height: auto;
  }
  
  /* Style the submit button with a specific background color etc */
  .submit{
    background-color: #f65261;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width:150px;
    height:60px;
    font-size: large;
    float:right;
    margin-right:60px;
  }
  .reset{
    background-color:#424242;
    color: #f65261;
    padding: 12px 20px;
    border: none;
    border:1px solid  #f65261;
    border-radius: 4px;
    cursor: pointer;
    width:150px;
    height:60px;
    font-size: large;
    margin-left:200px;
   
  }
  .para {
    margin-top: 50px;
    margin-left: 20px;
    text-align: left;
    color: rgb(219, 10, 80);
    font-size: 23px;
    background: none;
    padding-top: 30px;
    padding-left: 15px;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  .input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Add a background color and some padding around the form */
  .formcontainer {
    border-radius: 5px;
    background-color:black;
    padding: 50px;
    width:600px;
   margin-left: 400px;
   padding-bottom: 100px;;
  }
  .addmovie{
      font-size: xx-large;
      text-align: left;
      padding-left:40px;
      padding-top:30px;
      background:none;
      color:white;
  }
  .labels{
      background: none;
      text-align:left;
      padding-left:40px;
      color: #f65261;
  }
  .option{
    color: #f65261;
    font-size: large;
    font-weight: bolder;

  }
  .close {
    position: absolute;
   right:450px;
   top:150px;
    /* right: 32px;
    top: 32px; */
    width: 32px;
    height: 32px;
    opacity: 0.3;
    background: none;
    color:white;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color:white;
  }
  .close:before {
    transform: rotate(45deg);
    background-color:white;

  }
  .close:after {
    background-color:white;
    transform: rotate(-45deg);
  }