* {
  background: #555555;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.container1 {
  background-color: black;
  opacity: 0.9;
  height: 300px;
}
.addcontainer1 {
  background-color: black;
  opacity: 0.9;
  height: auto;
}
.addcontainer2 {
  background-color:#232323;
  opacity: 0.9;
  /* height: 700px; */
  width:600px;
  padding-bottom: 100px;
  margin-left: 400px;
  margin-top: 100px;
  display: block;
    text-align: center;
    box-sizing: border-box;
  
}
.para {
  margin-top: 30px;
  margin-left: 20px;
  text-align: left;
  color: rgb(219, 10, 80);
  font-size: 23px;
  background: none;
}
.addbutton {
  background-color: #555555;
  border: black;
  color: #f65261;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: bolder;
  margin-left: 900px;
  margin-top: -100px;
}
.find {
  background: none;
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
  text-align: left;
  margin-left: 100px;
  color: white;
}
.searchbar {
  padding: 10px;
  font-size: 25px;
  border: 1px solid grey;
  float: left;
  width: 50%;
  background: #232323;
  margin-left: 90px;
  font-family: serif;
}
.searchbutton {
  float: left;
  width: 15%;
  height: 50px;
  padding: 10px;
  background: #f65261;
  color: white;
  font-size: 17px;
  border: none;
  border-left: none;
  cursor: pointer;
  border-radius: 5px;
}
.found {
  color: white;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 10px;
  background: none;
  padding-left: 35px;
  font-size: large;
}
.container2 {
  background-color: #232323;
  height: auto;
  /* padding-bottom: 1px; */
  margin-bottom: 50px;
}
.para2 {
  margin-top: 20px;
  margin-left: -3px;
  margin-right: -3px;

  text-align: center;
  color: rgb(219, 10, 80);
  font-size: 23px;
  background-color: #424242;
  padding: 15px 0 15px 0;
  widows: 100px;
}
.topnav {
  background-color: #333;
  overflow: hidden;
 margin-left: -0.9px;
 margin-right: -0.9px;
 padding-left: 25px;;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  /* color: #f2f2f2; */
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color: #333;
  color: white;
}

/* Change the color of links on hover */
.topnav a:hover {
  /* background-color: #ddd; */
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  /* background-color: #4caf50; */
  color: white;
  border-bottom: red solid 5px;
}
.option{
  color: #f65261;
  font-size: large;
  font-weight: bolder;

}
.input{
  width: 11%; /* Full width */
  padding: 20px; /* Some padding */ 
 border:1px solid gray; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical ;/* Allow the user to vertically resize the textarea (not horizontally) */
  background:#555;
  
  
}
.dropdown {
  float: right;
  overflow: hidden;
  background-color:none;
  color:white;
  background: none;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #333;
  font-family: inherit;
  margin: 0;
}
.dropbtnsort {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px;
  background:none;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.card {
  display:flex;
  margin-top: -10px;
  transition: 0.3s;
  width: 25%;
  height:auto;
  color: white;
  background-color: #232323;
  background: none;
}
.movie{
  display:flex;
  width:25%;
  background: none;
  color:white

}

.card:hover {
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); */
}

.cardcontainer {
  background-color: #232323;
  text-decoration: none;
  background:none;
  padding: 1px;
  padding-left: 1px;
  text-align: left;
  padding-top: -10px;
  color: white;
  /* width: auto; */
}
.cardcontainer2 {
  background-color: #232323;
  text-decoration: none;
  background:none;
  padding: 1px;
  padding-left: 1px;
  text-align: left;
  padding-top: -10px;
  color: white;
  font-weight: normal;
  /* width: auto; */
}
.images {
  width: 80%;
}
.label {
  color:white;
  padding-top: 5px;
  padding-bottom: 15px;
  background-color: #232323;
  border-radius: 5%;
  width: 60px;
  height:5px;
  margin-left: 230px;
  border: 0.5px solid white;
  float: left;
  margin-top: -10px;
  text-align: center;
}
.grid {
  display: flex;
  padding: 15px;
  background-color: #232323;
  box-sizing: border-box;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}